	<!-- Copyrights
	============================================= -->
	<div id="copyrights">

		<div class="container clearfix">

			<div class="col_half">
				<div class="copyrights-menu copyright-links clearfix">
					<a href="#">Giriş</a>/<a href="#">Hakkımızda</a>/<a href="#">Eğitimlerimiz</a>/<a href="#">Hizmetlerimiz</a>/<a href="#">İletişim</a>
				</div>
			</div>


			<div class="col_half col_last tright">
				<div class="fright clearfix">
					<a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless nobottommargin si-instagram">
						<i class="icon-instagram1"></i>
						<i class="icon-instagram1"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>
				</div>
			</div>


		</div>
	</div><!-- #copyrights end -->
