<!-- Header
============================================= -->
	<header id="header" data-sticky-class="not-dark" data-sticky-offset="1">

		<div id="header-wrap">

			<div class="container clearfix">

				<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

				<!-- Logo
	============================================= -->
				<div id="logo">
					<a class="standard-logo" href="@Url.Action("Index", "Home" )"><img src="~/images/Transparent_Logo_Yanyana.png" alt="AkademiOzel Logo" /></a>
					<a class="retina-logo" href="@Url.Action("Index", "Home" )"><img src="images/logo@2x.png" alt="AkademiÖzel Logo"></a>
				</div><!-- #logo end -->
				<!-- Primary Navigation
	============================================= -->
				<nav id="primary-menu" class="style-6">
					<ul class="one-page-menu sf-js-enabled" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
						<li>
							<a href="#aboutus" data-href="#aboutus">
								<div class="text-black-70">HAKKIMIZDA</div>
							</a>
						</li>
						<li>
							<a href="#trainings" data-href="#trainings">
								<div class="text-black-70">EĞİTİMLERİMİZ</div>
							</a>
							<ul>
								<li>
									<a href="./programlamayagiris.html">
										<div><i class="icon-play1"></i>PROGRAMLAMAYA GİRİŞ</div>
									</a>
								</li>
								<li>
									<a href="./oop.html">
										<div><i class="icon-th-large1"></i>NESNE YÖNELİMLİ PROGRAMLAMA</div>
									</a>
								</li>
								<li>
									<a href="./designpatterns.html">
										<div><i class="icon-th-list1"></i>YAZILIM MİMARİLERİ</div>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#services" data-href="#services">
								<div class="text-black-70">HİZMETLERİMİZ</div>
							</a>
							<ul>
								<li>
									<a href="#services">
										<div><i class="icon-rocket1"></i>ÖZEL YAZILIM ÇÖZÜMLERİ</div>
									</a>
								</li>
								<li>
									<a href="#services">
										<div><i class="icon-laptop2"></i>KURUMSAL WEB SİTESİ</div>
									</a>
								</li>
								<li>
									<a href="#services">
										<div><i class="icon-settings"></i>YAZILIM DESTEK HİZMETLERİ</div>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#contact-info" data-href="#contact-info">
								<div class="text-black-70">İLETİŞİM</div>
							</a>
						</li>
					</ul>
				</nav>
				<!-- .Primary-menu end -->


			</div>

		</div>

	</header><!-- #header end -->