<!-- Header
============================================= -->
<header id="header">

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<!-- Logo
			============================================= -->
			<div id="logo">
				<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png">
					<img src="images/Transparent_Logo_Yanyana.png" alt="Canvas Logo">
				</a>
				<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png">
					<img src="images/logo@2x.png" alt="Canvas Logo">
				</a>
			</div><!-- #logo end -->
			<!-- Primary Navigation
			============================================= -->
			<nav id="primary-menu" class="style-4">

				<ul>
					<li class="">
						<a href="#">
							<div>EĞİTİMLERİMİZ</div>
						</a>
						<ul>
							<li>
								<a href="#">
									<div><i class="icon-play"></i>Programlamaya Giriş</div>
								</a>
							</li>
							<li>
								<a href="widgets.html">
									<div><i class="icon-th-large"></i>Nesne Yönelimli Programlama</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div><i class="icon-th-list"></i>Yazılım Mimarileri</div>
								</a>
							</li>
						</ul>
					</li>
					<li class="mega-menu">
						<a href="#">
							<div>HİZMETLERİMİZ</div>
						</a>
					</li>
					<li class="mega-menu">
						<a href="#">
							<div class="">İLETİŞİM</div>
						</a>
					</li>
				</ul>
			</nav><!-- #primary-menu end -->


		</div>

	</div>

</header><!-- #header end -->