		<section id="slider" class="slider-element boxed-slider">

			<div class="container clearfix">
				<div class="fslider" data-easing="easeInQuad">
					<div class="flexslider">
						<div class="slider-wrap">
							<div class="slide" data-thumb="images/slider/boxed/thumbs/2.jpg">
								<a href="#">
									<img src="images/slider/boxed/basliyoruz.png" alt="Slide 2">
								</a>
							</div>
							<div class="slide" data-thumb="images/slider/boxed/thumbs/3.jpg">
								<a href="#">
									<img src="images/slider/boxed/3.jpg" alt="Slide 3">
									<div
										class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-top-left">
										Retina Graphics Display</div>
								</a>
							</div>
							<div class="slide" data-thumb="images/slider/boxed/thumbs/4.jpg">
								<a href="#">
									<img src="images/slider/boxed/4.jpg" alt="Slide 4">
									<div class="flex-caption slider-caption-bg slider-caption-top-right">Bootstrap 3+
										Compatible</div>
								</a>
							</div>
							<div class="slide" data-thumb="images/slider/boxed/thumbs/5.jpg">
								<a href="#">
									<img src="images/slider/boxed/5.jpg" alt="Slide 5">
									<div
										class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-bottom-right">
										eCommerce Design Included</div>
								</a>
							</div>
							<div class="slide" data-thumb="images/slider/boxed/thumbs/5.jpg">
								<a href="#">
									<img src="images/slider/boxed/5.jpg" alt="Slide 5">
									<div
										class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-right">
										eCommerce Design Included</div>
								</a>
							</div>
							<div class="slide" data-thumb="images/slider/boxed/thumbs/5.jpg">
								<a href="#">
									<img src="images/slider/boxed/5.jpg" alt="Slide 5">
									<div class="flex-caption slider-caption-bg">Center tarafına konulmuş slider Center
										tarafına konulmuş slider Center tarafına konulmuş slider. Center tarafına
										konulmuş slider</div>
								</a>
							</div>
							<div class="slide" data-thumb="images/slider/boxed/thumbs/5.jpg">
								<a href="#">
									<img src="images/slider/boxed/5.jpg" alt="Slide 5">
									<div class="flex-caption slider-caption-bg slider-caption-left">Sol tarafa konulmuş
										silider</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>