        <!--* Slider ========================================= -->
<section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix" data-autoplay="7000" data-speed="650" data-loop="true" data-effect="slide">
	<div class="clearfix"></div>

	<div class="slider-parallax-inner">
		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper device-touch">

				<!--****slide -->
				<div class="swiper-slide dark" style="background-image: url('images/slider/pgiris.jpg'); background-size:contain;">
					<div class="container clearfix">
						<div class="slider-caption">
							<h2 data-animate="slideInLeft" data-delay="100" class="animated slideInLeft text-warning">Başlıyoruz!</h2>
							<p data-animate="slideInLeft" data-delay="300" class="animated slideInLeft text-warning font-weight-bolder">
								<span class="color ls0">AkademiÖzel</span> programlamaya giriş<br> eğitimi ile kapılarını açıyor.
							</p>
						</div>
					</div>
				</div>

				<!--****slide-->
				<div class="swiper-slide" style="background-image: url('images/slider/1071.jpg'); background-size: cover;">
					<div class="container clearfix">
						<div class="slider-caption">
							<h2 data-animate="fadeInUpBig" data-delay="200" class="fadeInUpBig animated">
								KARİYERİNİZİ KODLAYIN
							</h2>
							<p data-animate="fadeInUp" data-delay="100" class="d-none d-sm-block fadeInUp animated font-weight-bold ">
								<i>
									Çağımızın
									ihtiyacı olan programlama becerilerini edinmek/geliştirmek için
									bize katılın
								</i>
							</p>
						</div>
					</div>
				</div>

				<!--****slide -->
				<div class="swiper-slide" style="background-image: url('images/slider/gelismisyazilim.jpg'); background-size:100vw;">
					<div class="swiper-container-fade clearfix">
						<div class="slider-caption slider-caption-right">
							<h2 data-animate="fadeInUp" data-delay="200" class="fadeInRight animated text-warning">GELİŞMİŞ YAZILIM ÇÖZÜMLERİ</h2>
							<p data-animate="lightSpeedIn" data-delay="400" class="d-none d-sm-block font-weight-bold font-italic text-white">
								<i>
									Kaliteli,
									güvenli, sürdürülebilir yazılım çözümleri ile hizmetinizdeyiz.
								</i>
							</p>
						</div>
					</div>
				</div>

				<!--****slide -->
				<div class="swiper-slide" style="background-image: url('images/slider/herseyyazilim2.jpg'); background-size: 100vw;">
					<div class=" clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-animate="fadeInDown" class="text-white nott">Artık herşeyin temelinde yazılım var</h2>
							<p class="font-weight-bolder bg-warning" data-animate="jackInTheBox" data-delay="800">Bireysel veya Kurulumsal profesyonel yazılım desteği için hemen başvurubilirsiniz... <i class="icon-phone-square"></i> <i class="icon-mail"></i></p>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>

		</div>
	</div>
	</div>
</section>
<!-- #slider end -->