		<section id="slider" class="slider-element boxed-slider">

			<div class="container clearfix">
				<div class="fslider" data-easing="easeInQuad">
					<div class="flexslider">
						<div class="slider-wrap">
							<div class="slide" data-thumb="images/slider/thumbs/2.jpg">
								<a href="#">
									<img src="images/slider/basliyoruz.png" alt="Slide 2">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>