<!-- Slider -->
@Html.Partial("_Slider")

<!-- Section Courses ============================================= -->
<section id="trainings" class="section nomargin notoppadding parallax " style="background: url('images/bannerBg1.png') no-repeat fixed; background-size: cover;">

	<div class="promo promo-full bottommargin notoppadding" style="background:url('images/pattern.png') fixed;">
		<div class="container clearfix ">
			<h2 class="text-danger infinite animated flash delay-2s slow center">Açıldık! Güncel eğitimlerimizde avantajlı fiyatlar için acele edin</h2>
			<h3 class="center text-black-60 font-italic">
				Hemen arayabilir:<span><a href="tel:+905334365770"> +90.533.436.5770</a></span> veya mail atabilirsiniz:
				<span><a href="mailto:info@akademiozel.com"> info@akademiozel.com</a></span></h2>
		</div>
	</div>

	<div class="container clearfix">

		<div class="heading-block nobottomborder center ls2">
			<h2>EĞİTİMLERİMİZ</h2>
			<span><b><i>Teknolojiyi tüketen değil, üreten tarafa geçiyoruz!...</i></b></span>
		</div>
		<div class="clear"></div>

		<div class="row mt-2">
			<!-- Course 1
				============================================= -->
			<div class="col-md-4 mb-2">
				<div class="card course-card hover-effect noborder" data-animate="rotateInDownRight">
					<a href="./programlamayagiris.html"><img class="card-img-top" src="images/courses/ProgramlamayaGiris_340.png" alt="Card image cap"></a>
					<div class="card-body bg-dark">
						<h4 class="card-title t700 mb-2 ls1">
							<a href="./programlamayagiris.html" class="text-warning">
								Progamlamaya Giriş -
								<br>C# ile Temel Seviye Beceriler
							</a>
						</h4>
						<p class="mb-2 card-title-sub uppercase t400 ls2">
							<a href="#" class="text-white-50">
								C#.NET,
								VISUAL STUDIO, PROGRAMMING
							</a>
						</p>
						<p class="card-text mb-1 text-white font-secondary ls1">Yazılım dünyasına girmek isteyenlerle ilk adımı birlikte atıyoruz. Bol proje örnekleriyle programlamanın temel kavramlarını kolayca öğrenecek
					</div>
				</div>
			</div>

			<!-- Course 2
				============================================= -->
			<div class="col-md-4 mb-2">
				<div class="card course-card hover-effect" data-animate="rotateInDownRight" data-delay="200">
					<a href="./oop.html"><img class="card-img-top courses_card_img_top" src="images/courses/OOP_340.jpg"></a>
					<div class="card-body">
						<h4 class="card-title t700 mb-2">
							<a href="./oop.html" class="text-warning">
								Nesne Tabanlı Programlama<br>
								(Object Oriented Programming)
							</a>
						</h4>
						<p class="mb-2 card-title-sub uppercase t400 ls1">
							<a href="#" class="text-black-50">
								C#, C#
								advance, Principles
							</a>
						</p>
						<p class="card-text mb-1 font-secondary">Bu eğitimle C# dili ile gelişmiş programlamayı öğrenecek, Algoritma ve Programlama becerilerinizi ileriye taşayacaksınız</p>
					</div>
				</div>
			</div>

			<!-- Course 3
					============================================= -->
			<div class="col-md-4 mb-2">
				<div class="card course-card hover-effect" data-animate="rotateInDownRight" data-delay="400">
					<a href="./designpatterns.html"><img class="card-img-top courses_card_img_top" src="images/courses/DesignPatterns_340.png" alt="Card image cap"></a>
					<div class="card-body">
						<h4 class="card-title t700 mb-2">
							<a href="./designpatterns.html" class="text-warning">
								Yazılım Tasarım Kalıpları
								<br>(Design Patterns)
							</a>
						</h4>
						<p class="mb-2 card-title-sub uppercase t400 ls1">
							<a href="#"></a>ASP Net Core, MVC 4, WEB.API
						</p>
						<p class="card-text mb-1 font-secondary">Yazılım Tasarım Kalıplarını anlayacak, prensipleri ile tam yeti edineceksiniz. Gelişmiş Projelerde yer alacak,yönetebilecksiniz </p>
					</div>
				</div>
			</div>
			<!-- .Course 3 end-->

		</div>
	</div>
</section>
<!--  #Courses end -->
<!-- * SERVİCES ==============================================================================-->

<section id="services" class="section parallax nomargin bganimate" style="background: url('images/pattern3.png') repeat;">

	<div class="container clearfix">
		<div class="heading-block nobottomborder center ">
			<h2>HİZMETLERİMİZ</h2>
			<span><i>Sürdürülebilir &amp; Kaliteli Yazılım Çözümleri</i></span>
		</div>

		<div class="col_one_third">
			<div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn">
				<div class="fbox-icon">
					<i class="icon-rocket"></i>
				</div>
				<h3>ÖZEL YAZILIM ÇÖZÜMLERİ</h3>
				<p>İhtiyaçlarınıza karşılayan uygulamayı bulamadınız mı? Firmanıza özel bir çözüm mü istiyorsunuz? Hemen iletişime geçin, yetkin ve deneyimli ekibimizle ihtiyaçlarınızı tam karşılayacak çözümü beraber geliştirelim.</p>
			</div>
		</div>

		<div class="col_one_third">
			<div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn" data-delay="100">
				<div class="fbox-icon">
					<i class="icon-laptop"></i>
				</div>
				<h3>KURUMSAL WEB SİTESİ</h3>
				<p>
					Firmanızın kimliğini tam yansıtacak, ürün ve hizmetlerinizi müşterilerinize en kolay ulaşılabilir ve anlaşılabilir şekilde sunacak web siteniz için buradayız.
				</p>
			</div>
		</div>

		<div class="col_one_third col_last">
			<div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn" data-delay="300">
				<div class="fbox-icon">
					<i class="icon-cogs"></i>
				</div>
				<h3>YAZILIM DESTEK HİZMETLERİ</h3>
				<p>Firmanıza özel bir yazılım aldınız, tüm kodlar elinizde fakat destek alamıyor musunuz? Yazılımınız var fakat servis anlaşmalarınız kapsamında desteğini outsource mu etmek istiyorsunuz? Bu hizmetimiz tam size göre, deneyimli ekibimizle yazılımınızın tüm yönetim sürecini devralıyoruz, belirlenen süreler içerisindeki müşteri isterleriniz planlıyor ve tam zamanında çözüm sunuyoruz.</p>
			</div>
		</div>

		<div class="clear"></div>
		<div class="clear"></div>

	</div>
</section>
<!--  #Services end -->
<!-- Section About Us ============================================= -->
<section id="aboutus" class="section nomargin bottompadding-sm toppadding-sm" style="background-image:url('images/3.jpg'); background-size: cover;">

	<div class="content-wrap nobottompadding">
		<div class="container clearfix">

			<div class="col_one_third nobottommargin">
				<div class="aboutus_img"><img src="images/aboutus/23.jpg" alt=""></div>
				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4 data-animate="fadeInRight">Neden Bİz?</h4>
				</div>
				<p class="text-black-60" data-animate="fadeInUp" data-delay="250">
					Akademi Özel, deneyimli kadrosuyla, güncel teknolojileri takip eder, kurumların ve bireylerin ihtiyaçlarını doğru analiz edip, doğru teknolojiyle ve metodolojiyle hayata geçirir. Teknoloji eğitimlerinde, ülkemizdeki mühendislik yetkinliğini,
					yazılımın teknik gücünü ve süreç yönetiminin kalitesini arttırmayı amaçlar.
				</p>
			</div>

			<div class="col_one_third nobottommargin">
				<div class="aboutus_img"><img src="images/aboutus/13.jpg" alt=""></div>
				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4 data-animate="fadeInRight" data-delay="150">Mİsyonumuz</h4>
				</div>
				<p class="text-black-60" data-animate="fadeInUp" data-delay="400">
					Yetkinliğimizi sürekli arttırarak müşterilerimizin ve katılımcılarımızın memnuniyetini en üst seviyeye çıkarmak, Teknoloji eğitimleri alanında, katılımcılarımıza güncel teorik bilgiyle beraber deneyim de kazandırarak, alınan eğitimlerin
					en kısa sürede iş alanlarına uygulanmasını sağlamak, Mühendislerimizin çalışırken eğlenebilecekleri, fikirlerine ve emeklerine değer verilen bir kurum olmak.
				</p>
			</div>

			<div class="col_one_third nobottommargin col_last">
				<div class="aboutus_img"><img src="images/aboutus/21.jpg" alt=""></div>
				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4 data-animate="fadeInRight" data-delay="300">Vİzyonumuz</h4>
				</div>
				<p class="text-black-60" data-animate="fadeInUp" data-delay="550">Yazılım, eğitim ve danışmanlık alanlarında, ülkemizin mühendislik yetkinliğiyle, dünya standartlarında hizmet veren ve tercih edilen bir marka olmak.</p>
			</div>

			<div class="clear"></div>

		</div>
	</div>
</section>
<!-- #about us end -->
