<!-- Content
============================================= -->

	<section id="courses" class="section parallax"
			 style="background-image: url('images/bannerBg2.jpg'); background-size: auto; background-repeat: no-repeat"
			 data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -0px;">

		<!-- Wave Shape Divider
			============================================= -->
		<!-- <div class="wave-top"
		style="position: absolute; top: 0; left: 0; width: 100%; background-image: url('images/wave-3.svg'); height: 12px; z-index: 2; background-repeat: repeat-x;">
	</div> -->

		<div class="container">

			<div class="heading-block nobottomborder mb-5 center">
				<h3>EĞİTİMLERİMİZ</h3>
				<span>Teknolojiyi tüketen değil üreten tarafa geçiyoruz. Geleceğinizi kodlayın. Gerçek hayata uyarlanabilir Fikir almak için iletişime geçebilirsiniiz</span>
			</div>

			<div class="clear"></div>

			<div class="row mt-2">

				<!-- Course 1
					============================================= -->
				<div class="col-md-4 mb-5">
					<div class="card course-card hover-effect noborder">
						<a href="#">
							<img class="card-img-top courses_card_img_top" src="images/courses/ProgramlamayaGiris_340.png"
								 alt="Card image cap">
						</a>
						<div class="card-body">
							<h4 class="card-title t700 mb-2"><a href="#">Algoritma ve Programlamaya Giriş</a></h4>
							<p class="mb-2 card-title-sub uppercase t400 ls1">
								<a href="#"
								   class="text-black-50">Language</a>
							</p>
							<div class="rating-stars mb-2">
								<i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star-half-full"></i> <span>4.7</span>
							</div>
							<p class="card-text text-black-50 mb-1">
								Some quick example text to build on the card
								title and make up the bulk of the card's content.
							</p>
						</div>
						<div class="card-footer py-3 d-flex justify-content-between align-items-center bg-white text-muted">
							<div class="badge alert-primary">$19.99</div>
							<a href="#" class="text-dark position-relative">
								<i class="icon-line2-user"></i> <span class="author-number">1</span>
							</a>
						</div>
					</div>
				</div>

				<!-- Course 2
					============================================= -->
				<div class="col-md-4 mb-5">
					<div class="card course-card hover-effect noborder">
						<a href="#">
							<img class="card-img-top courses_card_img_top" src="images/courses/OOP_340.jpg"
								 alt="Card image cap">
						</a>
						<div class="card-body">
							<h4 class="card-title t700 mb-2"><a href="#">Nesne Tabanlı Programlama</a></h4>
							<p class="mb-2 card-title-sub uppercase t400 ls1">
								<a href="#"
								   class="text-black-50">Music</a>
							</p>
							<div class="rating-stars mb-2">
								<i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
								<span>4.9</span>
							</div>
							<p class="card-text text-black-50 mb-1">
								Some quick example text to build on the card
								title and make up the bulk of the card's content.
							</p>
						</div>
						<div class="card-footer py-3 d-flex justify-content-between align-items-center bg-white text-muted">
							<div class="badge alert-warning">Free</div>
							<a href="#" class="text-dark position-relative">
								<i class="icon-line2-user"></i> <span class="author-number">1</span>
							</a>
						</div>
					</div>
				</div>


				<!-- Course 3
					============================================= -->
				<div class="col-md-4 mb-5">
					<div class="card course-card hover-effect noborder">
						<a href="#">
							<img class="card-img-top courses_card_img_top"src="images/courses/DesignPatterns_340.png"
								 alt="Card image cap">
						</a>
						<div class="card-body">
							<h4 class="card-title t700 mb-2"><a href="#">Yazılım Tasarım Kalıpları</a></h4>
							<p class="mb-2 card-title-sub uppercase t400 ls1">
								<a href="#"
								   class="text-black-50">Design Tools</a>
							</p>
							<div class="rating-stars mb-2">
								<i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star-half"></i>
								<span>4.4</span>
							</div>
							<p class="card-text text-black-50 mb-1">
								Some quick example text to build on the card
								title and make up the bulk of the card's content.
							</p>
						</div>
						<div class="card-footer py-3 d-flex justify-content-between align-items-center bg-white text-muted">
							<div class="badge alert-warning">Free</div>
							<a href="#" class="text-dark position-relative">
								<i class="icon-line2-user"></i> <span class="author-number">1</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="wave-top"
		style="border-bottom:2px solid#fff; position: absolute; bottom: 0; left: 0; width: 100%; background-image: url('images/wave-4.svg'); height: 12px; z-index: 0; background-repeat: repeat-x;">
	</div> -->
	</section>

<section id="aboutus">

	<div class="content-wrap">



		<div class="container clearfix">


			<div class="col_one_third nobottommargin">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Neden Bİz</h4>
				</div>

				<p>
					Akademi Özel, deneyimli kadrosuyla, güncel teknolojileri takip eder, kurumların ve bireylerin
					ihtiyaçlarını doğru analiz edip, doğru teknolojiyle ve metodolojiyle hayata geçirir.
					Teknoloji eğitimlerinde, ülkemizdeki mühendislik yetkinliğini, yazılımın teknik gücünü ve
					süreç yönetiminin kalitesini arttırmayı amaçlar.
				</p>

			</div>

			<div class="col_one_third nobottommargin">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Mİsyonumuz</h4>
				</div>

				<p>
					Yetkinliğimizi sürekli arttırarak müşterilerimizin ve katılımcılarımızın memnuniyetini en üst
					seviyeye çıkarmak,
					Teknoloji eğitimleri alanında, katılımcılarımıza güncel teorik bilgiyle beraber deneyim de
					kazandırarak, alınan eğitimlerin en kısa sürede iş alanlarına uygulanmasını sağlamak,
					Mühendislerimizin çalışırken eğlenebilecekleri, fikirlerine ve emeklerine değer verilen bir
					kurum olmak.
				</p>

			</div>

			<div class="col_one_third nobottommargin col_last">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Vİzyonumuz</h4>
				</div>

				<p>
					Yazılım, eğitim ve danışmanlık alanlarında, ülkemizin mühendislik yetkinliğiyle, dünya
					standartlarında hizmet veren ve tercih edilen bir marka olmak.
				</p>

			</div>

			<div class="clear"></div>

		</div>
	</div>

</section><!-- #content end -->
<!-- Section Courses
		============================================= -->
