<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap">



		<div class="container clearfix">


			<div class="col_one_third nobottommargin">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Neden Biz</h4>
				</div>

				<p>
					Akademi Özel, deneyimli kadrosuyla, güncel teknolojileri takip eder, kurumların ve bireylerin
					ihtiyaçlarını doğru analiz edip, doğru teknolojiyle ve metodolojiyle hayata geçirir.
					Teknoloji eğitimlerinde, ülkemizdeki mühendislik yetkinliğini, yazılımın teknik gücünü ve
					süreç yönetiminin kalitesini arttırmayı amaçlar.
				</p>

			</div>

			<div class="col_one_third nobottommargin">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Misyonumuz</h4>
				</div>

				<p>
					Yetkinliğimizi sürekli arttırarak müşterilerimizin ve katılımcılarımızın memnuniyetini en üst
					seviyeye çıkarmak,
					Teknoloji eğitimleri alanında, katılımcılarımıza güncel teorik bilgiyle beraber deneyim de
					kazandırarak, alınan eğitimlerin en kısa sürede iş alanlarına uygulanmasını sağlamak,
					Mühendislerimizin çalışırken eğlenebilecekleri, fikirlerine ve emeklerine değer verilen bir
					kurum olmak.
				</p>

			</div>

			<div class="col_one_third nobottommargin col_last">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Vizyonumuz</h4>
				</div>

				<p>
					Yazılım, eğitim ve danışmanlık alanlarında, ülkemizin mühendislik yetkinliğiyle, dünya
					standartlarında hizmet veren ve tercih edilen bir marka olmak.
				</p>

			</div>

			<div class="clear"></div>

		</div>
	</div>

</section><!-- #content end -->