<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-center border noleftborder norightborder border-color" style="background-image: url('../../wwwroot/images/bannerBg1.png')">
	<div class="container clearfix ">
		<h1>C# İLE Programlamaya Giriş EĞİTİMİ</h1>
		<span class="font-primary color">Sıfırdan bire Algoritma ve Programlama Mantığı Eğitimi</span>
	</div>
</section>
<!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap nobottompadding nobottommargin ">

		<div class="container clearfix nobottommargin">
			<!-- Portfolio Single Image
			============================================= -->
			<div class="col_two_third portfolio-single-image ">
				<img src="~/images/courses/kariyer.jpg" height="400" alt="cSharp" title="Bir yudum kod">
			</div>
			<!-- .portfolio-single-image end -->
			<!-- Portfolio Single - Meta
					============================================= -->
			<div class="col_one_third col_last nobottommargin">
				<div class="fancy-title title-bottom-border">
					<h3>Eğitim Bilgileri</h3>
				</div>
				<ul class="portfolio-meta bottommargin">
					<li><span><i class="icon-chalkboard-teacher "></i>Eğitmen:</span>Alper Özel</li>
					<li>
						<span>&nbsp;</span><a href="https://www.linkedin.com/in/alperozeltr" class="d-inline-block font-italic" target="_blank">
							Eğitmenimiz
							Kim?<i class="icon-arrow-alt-circle-right1 font-italic"></i>
						</a>
					</li>
					<li><span><i class="icon-calendar3"></i>Tarih:</span>Yakında!</li>
					<li><span><i class="icon-lightbulb"></i>Yetkinlikler:</span>HTML5 / PHP / CSS3</li>
					<li><span><i class="icon-link"></i>Öngereklilik:</span>Google</li>
					<li><span><i class="icon-map-marker-alt"></i>Yer:</span>Samandıra Merkez</li>
					<li><span><i class="icon-time"></i>Süre:</span>15 gün</li>
					<li><span><i class="icon-money-check"></i>Ücret:</span>Sorunuz</li>
				</ul>
			</div>
</section>
<!-- Portfolio Single - Meta End -->

<section id="content">
	<div class="container clearfix">
		<div class="col_half">

			<div class="title-block" data-animate="fadeInUp">
				<h2>Eğitim tanımlaması</h2>
			</div>

			<p data-animate="fadeInUp">Programlamaya giriş eğitiminin amacı katılımcıları yazılım dünyasıyla tanıştırmak ve algoritma mantığını kazandırmaktır. </p>
			<p data-animate="fadeInUp">
				Güncel yazılım teknolojileri hakkında genel bilgi verilerek başlanılacak bu eğitimde, temelden başlanılarak her yazılım dilinde bulunan değişkenler, veri tipleri, operatörler, koşul cümlecikleri, döngüler, metod ve fonksiyon tanımlamaları
				gibi kavramlar detaylı bir şekilde anlatılacak ve bol bol örneklerle kavranılması sağlanacaktır.
			</p>

			<div class="toggle toggle-border border-color" data-animate="fadeInUp">
				<div class="togglet color"><i class="toggle-closed icon-ok-circle"></i><i class="toggle-open icon-remove-circle"></i> Eğitim İçeriği</div>
				<div class="togglec">

					<!-- ** Eğitim İçerik Maddeler---------------------------------------------->

					<div class="toggle">
						<div class="togglet color"><i class="toggle-closed"></i><i class="toggle-open"></i>İçerik 1</div>
						<div class="togglec">
							<ul>
								<li>Lorem, ipsum dolor.</li>
								<li>Lorem ipsum dolor sit amet.</li>
								<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, accusantium?</li>
							</ul>
						</div>
					</div>

					<div class="toggle">
						<div class="togglet color"><i class="toggle-closed"></i><i class="toggle-open"></i> İçerik 2</div>
						<div class="togglec">
							<ul>
								<li>Lorem, ipsum dolor.</li>
								<li>Lorem ipsum dolor sit amet.</li>
								<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, accusantium?</li>
							</ul>
						</div>
					</div>

					<div class="toggle">
						<div class="togglet color"><i class="toggle-closed"></i><i class="toggle-open"></i>İçerik 3</div>
						<div class="togglec">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus
							enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- col 1 end-->

		<div class="col_half col_last">

			<div class="toggle d-block">
				<div class="togglet"><i class="toggle-closed "></i><i class="toggle-open"></i>&nbsp;</div>
				<div class="togglec">&nbsp;</div>
			</div>

			<div class="toggle d-block">
				<div class="togglet"><i class="toggle-closed "></i><i class="toggle-open"></i>&nbsp;</div>
				<div class="togglec">&nbsp;</div>
			</div>

			<div class="toggle toggle-border border-color" data-animate="fadeInUp" data-delay="400">
				<div class="togglet color center"><i class="toggle-closed icon-user-check"></i><i class="toggle-open icon-user-tag"></i>Kimler Katılabilir?</div>
				<div class="togglec">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero
					eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
				</div>
			</div>

			<div class="toggle toggle-border border-color" data-animate="fadeInUp" data-delay="800">
				<div class="togglet color center"><i class="toggle-closed icon-line2-badge"></i><i class="toggle-open icon-line2-badge"></i>Hedeflenen Kazanımlar</div>
				<div class="togglec">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero
					eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
				</div>
			</div>

		</div>

	</div>
</section>
<!-- #content end -->