/* ----------------------------------------------------------------
	CSS Specific to the Course Demo

	Some of the CSS Codes have been modified from the Original
	style.css File to match the Styling of this Demo

-----------------------------------------------------------------*/




/* Text Rotater
---------------------------------------------------------------------------- */
.text-rotater { font-size: 38px; letter-spacing: -1px; }

.text-rotater span { text-decoration: underline; }

/* Hero Widget
---------------------------------------------------------------------------- */
.slider-element .input-group-append {
	position: absolute;
	right: 0;
	z-index: 4;
}

.slider-element .form-control {
	padding-top: 10px;
	padding-bottom: 10px;
}

.slider-element .input-group-append .btn {
	background-color: transparent;
	padding: 7px 15px;
}



/* Badge
---------------------------------------------------------------------------- */
.badge {
	font-size: ;
	padding: 8px 12px;
	border: 0;
	border-radius: 3px;
	font-weight: 400;
	font-size: 14px;
}

.registration-badge {
	position: absolute;
	display: block;
	left: 15px;
	top: -10px;
}

.feature-box.media-box .fbox-icon {
	position: relative;
	width: 36px;
	height: 54px;
	margin-bottom: 15px;
}

.course-card .author-number {
	font-size: 11px;
    position: absolute;
    top: -4px;
    right: -4px;
}

.heading-block h3 {
	font-weight: 700;
	text-transform: none;
	letter-spacing: 0;
}

.heading-block h3 + span {
	font-size: 17px;
	opacity: .9;
}

/* Border Form Design
---------------------------------------------------------------------------- */
.border-form-control {
	padding: 8px 4px;
	background-color: transparent !important;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	border-bottom-width: 1px;
}

/* Display Tablet and Below - Responsive
---------------------------------------------------------------------------- */
@media (max-width: 991.98px) {

	.course-categories .card a span { font-size: 12px; }
}

/* Display after 992px(after tablet) - Responsive
---------------------------------------------------------------------------- */
@media (min-width: 992px) {

	.course-card .card-title {
		font-size: 19px;
		line-height: 1.25;
	}

}

#top-search form input {
	font-size: 26px;
	letter-spacing: 0;
}

#top-search form input::-moz-placeholder { text-transform: none; letter-spacing: 0; color: #AAA; font-size: 24px; }
#top-search form input:-ms-input-placeholder { text-transform: none; letter-spacing: 0; color: #AAA; font-size: 24px; }
#top-search form input::-webkit-input-placeholder { text-transform: none; letter-spacing: 0; color: #AAA; font-size: 24px;}

body.top-search-open #top-cart { opacity: 1 }