
/* Course Categories
---------------------------------------------------------------------------- */
.course-categories .card a span {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

	.course-categories .card a span i {
		display: block;
		margin-bottom: 5px;
		font-size: 20px;
	}

.hover-effect {
	-webkit-transition: transform .25s ease, box-shadow .3s ease;
	-o-transition: transform .25s ease, box-shadow .3s ease;
	transition: transform .25s ease, box-shadow .3s ease;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	box-shadow: none;
	border: 0;
}

	.hover-effect:hover {
		-webkit-transform: translateY(-2px);
		-ms-transform: translateY(-2px);
		-o-transform: translateY(-2px);
		transform: translateY(-2px);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}

.course-card .card-footer {
	border-top-color: #EEE;
}

.rating-stars i {
	color: #f4c150;
}

.course-card .card-title a {
	color: #333;
}

	.course-card .card-title a:hover {
		color: var(--themecolor);
	}

.course-card .card-title-sub {
	font-size: 11px;
}

/* Badge
---------------------------------------------------------------------------- */
.badge {
	padding: 8px 12px;
	border: 0;
	border-radius: 3px;
	font-weight: 400;
	font-size: 14px;
}

.registration-badge {
	position: absolute;
	display: block;
	left: 15px;
	top: -10px;
}

.feature-box.media-box .fbox-icon {
	position: relative;
	width: 36px;
	height: 54px;
	margin-bottom: 15px;
}

.course-card .author-number {
	font-size: 11px;
	position: absolute;
	top: -4px;
	right: -4px;
}

.heading-block h3 {
	font-weight: 700;
	text-transform: none;
	letter-spacing: 0;
}

	.heading-block h3 + span {
		font-size: 17px;
		opacity: .9;
	}

/* Border Form Design
---------------------------------------------------------------------------- */
.border-form-control {
	padding: 8px 4px;
	background-color: transparent !important;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	border-bottom-width: 1px;
}
